{% extends 'rango/base.html' %}

{% load staticfiles %} <!--New line -->

{% block body_block %}


<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Rango About</h1>
        <div>
            <h2 class="h2">
                Rango says...
                This tutorial has been put together by yzx
            </h2>
            <strong>{{ boldmessage }}</strong>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-body">
		<h3><a href="/rango/about/">新的一天，开冲</a><br /></h3>
		<img src="{{MEDIA_URL}}chong.jpg"
			 alt="CHONG" />
	</div>
	<div>
		<a href="/rango/">回到主页</a><br />
	</div>
</div>
{% endblock %}