{% extends 'rango/base.html' %}
{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
    {% if category %}
    <h1>{{ category.name }}</h1>
    </div>
</div>
    <div class="container">

    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    {% else %}
    <h4 The specified category does not exist! />
    {% endif %}
    </div>
</div>
{% endblock %}